tensorflow_datasets/test_samples/rock_03.png filter=lfs diff=lfs merge=lfs -text
tensorflow_datasets/test_samples/paper_01.png filter=lfs diff=lfs merge=lfs -text
tensorflow_datasets/test_samples/paper_03.png filter=lfs diff=lfs merge=lfs -text
tensorflow_datasets/test_samples/rock_02.png filter=lfs diff=lfs merge=lfs -text
tensorflow_datasets/test_samples/rock_04.png filter=lfs diff=lfs merge=lfs -text
tensorflow_datasets/test_samples/scissors_00.png filter=lfs diff=lfs merge=lfs -text
tensorflow_datasets/test_samples/scissors_03.png filter=lfs diff=lfs merge=lfs -text
tensorflow_datasets/test_samples/paper_00.png filter=lfs diff=lfs merge=lfs -text
tensorflow_datasets/test_samples/paper_04.png filter=lfs diff=lfs merge=lfs -text
tensorflow_datasets/test_samples/rock_00.png filter=lfs diff=lfs merge=lfs -text
tensorflow_datasets/test_samples/rock_01.png filter=lfs diff=lfs merge=lfs -text
tensorflow_datasets/test_samples/scissors_02.png filter=lfs diff=lfs merge=lfs -text
tensorflow_datasets/test_samples/paper_02.png filter=lfs diff=lfs merge=lfs -text
tensorflow_datasets/test_samples/scissors_04.png filter=lfs diff=lfs merge=lfs -text
tensorflow_datasets/test_samples/scissors_01.png filter=lfs diff=lfs merge=lfs -text
models/model_rock_paper_scissors.h5 filter=lfs diff=lfs merge=lfs -text
models/rock_paper_scissors-saved_model/fingerprint.pb filter=lfs diff=lfs merge=lfs -text
models/rock_paper_scissors-saved_model/saved_model.pb filter=lfs diff=lfs merge=lfs -text
models/rock_paper_scissors-saved_model/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
models/rock_paper_scissors-saved_model/variables/variables.index filter=lfs diff=lfs merge=lfs -text
models/weights/model_20231218_150027-01-0.9444.h5 filter=lfs diff=lfs merge=lfs -text
models/weights/model_20231218_150027-02-0.9683.h5 filter=lfs diff=lfs merge=lfs -text
models/weights/model_20231218_150027-04-0.9894.h5 filter=lfs diff=lfs merge=lfs -text
models/weights/model_20231218_150027-06-0.9921.h5 filter=lfs diff=lfs merge=lfs -text
models/weights/model_20231218_150027-07-0.9947.h5 filter=lfs diff=lfs merge=lfs -text
models/weights/model_20231218_150027-14-0.9974.h5 filter=lfs diff=lfs merge=lfs -text
